{% extends "AppAppBundle::layout.html.twig" %}

{% block body -%}
    <h1>Picture</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Originalname</th>
                <td>{{ entity.originalName }}</td>
            </tr>
            <tr>
                <th>Extension</th>
                <td>{{ entity.extension }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ entity.slug }}</td>
            </tr>
            <tr>
                <th>Path</th>
                <td>{{ entity.path }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('picture') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('picture_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
